html {
  scroll-behavior: smooth;
}

.background-image {
  background-image: url("../assets/img/Lindungi-hutan.webp");
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-size: larger;
}

.main-article {
  margin-top: 100px;
}

a {
  text-decoration: none;
  font-family: 'Lora' serif;
  color: black;
}

a:hover {
  color: green;
}
